{% extends 'base.html' %}

{% block secondary %}
{% include 'output-nav.html' %}
{% endblock %}

{% block primary %}
<section class="about section">
    <div class="section-inner shadow-sm rounded">
        <h2 class="heading"><a href="/"><i class="fas fa-chevron-left"></i></a>&nbsp;&nbsp;G2: What is Design Thinking?
        </h2>
        <div class="content">
            <p class="article-text">
                Life is full of complicated problems and challenges. Us, humans, pose to be resilient and we would
                always find ways to overcome the obstacles we face in our daily lives. We think. We design solutions
                that propagates to potential breakthroughs; more than what a simple solution offers. Design thinking is
                simply creative problem solving. It is the pinnacle of innovation. There are different kinds of problems
                popping out every day. In parallel, there are also different kinds of solutions for it. Whenever there
                are problems, there are seemingly workarounds for it. And these workarounds are all rooted in the
                principle of thinking how the solution or answer is to be designed. In the context of designing
                products, the process is important to be human-centered (IDEO University, 2020). At its core, we design
                products for humans. They are our sole users! We design solutions with not just only the mind but also
                with our hearts. In the big picture, we see fellow humans designing products for their fellow humans. It
                is always the reoccurring theme in life. We strive to cooperate and help one another. It is our purpose
                as humans. And as a designer, we must ensure that our designs are viable, feasible and desirable. Why?
                The world is rapidly changing. These three characteristics of the design are critical for it to adapt,
                sustain and ultimately, be successful.
            </p>

            <p class="article-text">
                So how does one actually go into the process of design thinking? It is subdivided into five steps:
                empathize, define, ideate, prototype, and test (Siang & Dam, 2020). Empathize is the first stage of the
                design process wherein we gain an empathic understanding of the problem that is trying to be solved. We
                try to observe, engage and empathize with our users so that we understand their motivations and needs.
                Having this knowledge in our toolbelt is critical once we create design decisions in the later parts of
                development. Secondly, define is the stage when we analyze and aggregate the knowledge that we acquired
                from the first stage. We now define our problem statement in a way that is centered to our users (Siang
                & Dam, 2020). It provides the scope and extent of the problem that we would tackle also. Thirdly, ideate
                is the stage when we start generating ideas. This is where we “think outside of the box” and attempt to
                tackle the problem in different angles. Fourthly, we head into the prototype stage. In this stage, we
                keep iterating on the ideated solutions. We iterate different proof-of-concepts that demonstrate a
                potential solution. With this, we continuously search for the best and optimal solution that would be
                finalized and tested. Lastly, we have the testing stage. In this stage, we rigorously test the completed
                product for polishing and improvement. Even during this phase, refinements and redefinitions of the
                problem could still be made; since our understanding of the problem could have more depth than our
                initial understanding when we were in the empathize stage.
            </p>
            <div class="references">
                <hr>
                <h5 class="article-title">References</h5>
                <ul>
                    <li>IDEO University. (2020). What is Design Thinking? Retrieved from
                        https://www.ideou.com/blogs/inspiration/what-is-design-thinking
                    </li>

                    <li>
                        Siang, T., & Dam, R. (2020). 5 Stages in the Design Thinking Process. Retrieved from
                        https://www.interaction-design.org/literature/article/5-stages-in-the-design-thinking-process
                    </li>
                </ul>
            </div>
        </div>
        <!--//content-->
    </div>
    <!--//section-inner-->
</section>
{% endblock %}