{% extends 'base.html' %}

{% block secondary %}
{% include 'output-nav.html' %}
{% endblock %}

{% block primary %}
<section class="about section">
    <div class="section-inner shadow-sm rounded">
        <h2 class="heading"><a href="/"><i class="fas fa-chevron-left"></i></a>&nbsp;&nbsp;G3: What is Prototyping?</h2>
        <div class="content">
            <h5 class="article-title">What is Design and User Design?</h5>
            <p class="article-text">
                Design is the process of arranging and structuring elements to form a pattern or
                composition. User design is the process of designing the structure and elements of a
                product for the sole user.
            </p>

            <h5 class="article-title">What is the difference between User Experience Design and User
                Interface Design? Why does it matter?
            </h5>
            <p class="article-text">
                User experience (UX) design is about designing products that are user-friendly.
                Furthermore, it is all about carefully designing and providing functional interaction
                and experiences for the users. UX design is attributed to overall feel of the experience
                (Lamprecht, 2019). On the other hand, user interface (UI) design is the process of
                designing the look and function of a product’s interface. UI design is all about visuals
                and graphical elements such as buttons, icons, colors schemes, spacing, fonts,
                responsiveness and much more. UX and UI design goes hand-in-hand and closely integrates
                with one another. They both matter hence both UX and UI design are integral in
                developing and producing a successful product (Lamprecht, 2019). If the users find the
                product’s UX and UI intuitive and functional, they are guaranteed to like and keep using
                the product thus lead to the product’s success.
            </p>
            <h5 class="article-title">Who are the users? Why are they important?</h5>
            <p class="article-text">
                The users are the ones that actually use and interact with a particular product. They
                are important because they are the sole reason why a product exists. Great UI and UX
                leads to user loyalty and satisfaction for the product which leads to its success
                (Lamprecht, 2019). Moreover, a product exists for the users themselves and that is why
                it is important to create a user-centered product.
            </p>
            <div class="references">
                <hr>
                <h5 class="article-title">References</h5>
                <ul>
                    <li>Lamprecht, E. (2019, December 19). The Difference Between UX And UI Design - A
                        Layman’s Guide. Retrieved from Career Foundry:
                        https://careerfoundry.com/en/blog/ux-design/the-difference-between-ux-and-ui-design-a-laymans-guide

                    </li>
                </ul>
            </div>
        </div>
        <!--//content-->
    </div>
    <!--//section-inner-->
</section>
{% endblock %}