{% extends 'base.html' %}

{% block secondary %}
{% include 'output-nav.html' %}
{% endblock %}

{% block primary %}
<section class="about section">
    <div class="section-inner shadow-sm rounded">
        <h2 class="heading"><a href="/"><i class="fas fa-chevron-left"></i></a>&nbsp;&nbsp;R1: My First Few Weeks of
            USERDES Class</h2>
        <div class="content">
            <p class="article-text">
                The first few weeks were really exciting. It had a lot of fun activities that I really enjoyed doing. I
                enjoyed the first week where after the orientation, we had an immediate lab activity about deploying a
                web app. It was a nice challenge, indeed! I am hoping to see more of these activities. I bonded also
                with my block mates and learning squad from other subjects. It was enjoyable teaching them how to use
                GitHub and Heroku. I have a lot of experience using both and I am glad to share what I know to them. I
                helped them through sharing my screen. It was thrilling to see them type the Git commands themselves. I
                shared the same excitement when they were able to access their websites in Heroku. Hype was everywhere.
                It felt like guiding my block mates’ rockets launch into outer space. “Mission success, team!” I
                imagined that in my mind when their website has been successfully deployed.
            </p>

            <p class="article-text">
                In the next few weeks, we talked about the creation of user design personas. The concept was quite new
                to me. Honestly speaking, I thought this concept was completely unnecessary in terms of user design. I
                thought it was a waste of time and just a useless gimmick. But oh boy, I was wrong. I am glad to be
                wrong because it changed my idea of how to excitingly plan user interfaces and experiences. With the
                lessons, I realized a lot with user personas! It is a really great and effective way to plan and
                communicate UI and UX designs! Plus, I find creating personas a fun and playful thing to do. I did not
                know that I like creating narratives and imaginary people. What a nice discovery for myself. I like how
                the personas really integrate and later translate to the actual design decisions. I tried this myself
                outside the “classroom.” I actually work right now as a part-time full stack developer. I experimented
                and attempted to use personas in explaining my current designs for a project. Surprisingly, it felt
                easier and more effective to explain the design decisions that I made with organic and goal-oriented
                personas. I created user personas to let my client know why a particular design decision was made for
                his website. I crafted simple personas like “Bob” and “John” in order to explain to my client the
                importance of having responsive design for his website. Specifically, and as an actual example, I
                thought of Bob as an avid mobile user while John is a more desktop-oriented user. Their narratives and
                personalities addressed the necessity to support different screen resolutions! Seemingly, both of their
                needs have to be catered in the project I am currently working on. My client now understands that;
                thanks to the tool of creating user personas. It is very nice to immediately apply the things I am
                learning in class. Consequently, I am excited to learn more about the subject!
            </p>

            <p class="article-text">
                I am usually bored about the theoretical stuff at the start. But yes, I know that the theoretical bits
                are as important as the applied learning. Personally, I like more of hands-on experiences. That is why
                the GitHub and Heroku activity at the early start really enticed me
                about the subject. I just liked how we just “went with it” and did a “deep dive.” I think that I
                learn more by doing. I am glad that USERDES offers a hands-on experience as well. I mean, it should be
                that way. We could learn more about design when we actually try to create designs of our own. I love how
                fun the subject currently is. To the things to improve on in the subject, I
                think instructions should be more specific in the future when it comes to larger activities like
                lab works; such as the GitHub and Heroku deployment challenge. For these types of work, I
                would like to know more about the standards. What would give me a higher or perfect grade
                when I completed the said task? I always find detailed instructions eye-candy. It helps and guides me a
                lot whenever I try to complete a detailed task. From all of these, my first few weeks
                had been a blast and fun. Looking forward to the next weeks. Very exciting!
            </p>
        </div>
        <!--//content-->
    </div>
    <!--//section-inner-->
</section>
{% endblock %}