{% extends 'base.html' %}

{% block secondary %}
{% include 'output-nav.html' %}
{% endblock %}

{% block primary %}
<section class="about section">
    <div class="section-inner shadow-sm rounded">
        <h2 class="heading"><a href="/"><i class="fas fa-chevron-left"></i></a>&nbsp;&nbsp;R2: Introduction to Design
            Thinking Process</h2>
        <div class="content">
            <p class="article-text">
                The design thinking process is a nice concept to learn about. It was also quite an exciting concept to
                unfold. Because, it shows how designers could ideally approach a certain problem to arrive with an
                empathetic solution. First glance at the process, I immediately thought of the scientific method. It is
                somehow patterned the same; especially when it comes to defining the problem and testing the solution.
                The design thinking process is more general and empathetic.
            </p>

            <p class="article-text">
                Now then, I would like to give my insights about each step in the process. The first step, empathize, is
                really heartfelt for me. Pun intended. I like how the design thinking process is human-oriented in which
                understanding human needs is critically involved. It really emphasizes the pinnacle of design. Clearly,
                we design human solutions for human problems. I like this step a lot because I love understanding my
                users. I love observing, engaging and understanding their problems; especially when we share the same
                sentiment and burden. Through understanding comes a better and effective solution in ultimately
                resolving the problem. The second step is about defining the problem. Ah, yes! Just like in scientific
                research. It is nice to know that defining an attainable and specific problem statement is crucial; even
                for user design. The third step is ideation. I find bombarding of ideas and just plain brainstorming
                really fun. It made me remember our lesson back then in senior high school about a similar topic.
                Importantly, brainstorming is about keep generating ideas and no ideas is ruled out yet… even if they
                are really bad ideas. We lay out our possible options and eventually come up with the best idea! After
                remembering that, indeed, the same importance could be applied to the design thinking process. I like
                how ideation stimulates free thinking and expands the perspective in approaching the problem. The fourth
                step is about developing the prototypes. Building prototypes has been always quite enjoyable for me. It
                gives me an idea whether or not a particular route could be taken. The thrill is very real when a route
                suggests its feasibility and possibility as the solution. The fifth step is testing which is something
                that I expected beforehand. Just like in scientific research, testing our prototypes is crucial! This
                step also suggests what I like a lot about the design thinking process. The process is iterative in
                nature! It is not linear. At some point in the steps, we get the chance to always learn, realign and
                redefine the design of our solution. We keep doing this repeatedly until we arrive with the most refined
                and battle-hardened design possible.
            </p>
        </div>
        <!--//content-->
    </div>
    <!--//section-inner-->
</section>
{% endblock %}