{% extends 'base.html' %}

{% block secondary %}
{% include 'output-nav.html' %}
{% endblock %}

{% block primary %}
<section class="about section">
    <div class="section-inner shadow-sm rounded">
        <h2 class="heading"><a href="/"><i class="fas fa-chevron-left"></i></a>&nbsp;&nbsp;R3: Need Finding (Design
            Problem)</h2>
        <div class="content">
            <p class="article-text">
                The group project is fun to do. I found it as an opportunity to bond and collaborate with my classmates
                more. As a leader, I intended to give everyone a podium to express themselves. I want my groupmates to
                let their ideas out. Usually, a leader has the main prerogative whether an idea is right or wrong. He or
                she has the control of the direction. In the case of our group, we strike for balance. Our first phase,
                brainstorming, was the phase that I enjoyed the most. We enumerate a lot of ideas and just went crazy
                with it. One thing that I noticed in our group is that we have a common strive to be realistic. The
                solutions that we try to think are also keen on being innovative. We are always wary if a particular
                problem already had a better solution. We did not want to reinvent the wheel! That was our own little
                challenge as a group. Coming up with a design problem statement was indeed fun. We had to plow through
                five problem statements before coming up with our final one. It was nice. Everyone had their ideas and I
                admire their enthusiasm in sharing them. We came up with the personas individually among our group. It
                was really nice seeing my groupmates’ creativity shine through.
            </p>

            <p class="article-text">
                I realized from here that I really enjoy a group activity where everyone has the same equal footing and
                capability. Back then, I find group activities to be a pain; especially when I am the leader. I do not
                really like a group where there are roles such as a leader or a member. It suggests to just rely on the
                leader. Hence, leaders usually shoulder all the burden. Surprisingly, that is not the case with my
                group. I am lucky to be with my group! We have individuality and autonomy. Definitely in a way, there
                are risks involved when letting individuality perspire in a group. Different ideas in one group can
                derail the common vision and direction of it. I will be keener in handling and guiding my groupmates to
                one common direction next time. Quite a good trade off rather than not distributing the workload!
            </p>

            <p class="article-text">
                Last week, we had some ups and downs with our presentation. That is something I expected. Nonetheless,
                we are determined, and we will keep improving as a group. I am also very thankful that our group project
                is iterative in nature. We always have a chance to keep improving and polishing what we made. When we
                make a mess, it does not stop there, and we can always clean it up. Phew. Collaborating and discussing
                with other groups is also tremendously fun. We get to hear out their thought process. After that, we do
                an exchange of constructive criticism with one another. It is definitely a win-win for both of us. We
                get better and create more robust outputs together. Not only did I learn a lot with my group, but also
                with what the other groups have made. It inspires us to do better and be on the same level with their
                efforts and passion. This is quite a rare case where I do not feel any competition among other groups. I
                find that really nice and it is a healthy learning environment definitely.
            </p>
        </div>
        <!--//content-->
    </div>
    <!--//section-inner-->
</section>
{% endblock %}