{% extends 'base.html' %}

{% block secondary %}
{% include 'output-nav.html' %}
{% endblock %}

{% block primary %}
<section class="about section">
    <div class="section-inner shadow-sm rounded">
        <h2 class="heading"><a href="/"><i class="fas fa-chevron-left"></i></a>&nbsp;&nbsp;R4: Information Architecture
        </h2>
        <div class="content">
            <p class="article-text">
                The word “information architecture” was really intriguing to hear. The only types of architecture that I
                know are the architecture involved in designing buildings and the other architecture involved in
                designing software. Knowing about information architecture is a nice addition to what I know about
                architecture. As a takeaway, I understand that information architecture is all about organizing content
                presented. I like the fact that it can apply to many things; not just user design. I really am glad that
                this additional topic was presented to us. I agree that it is a critical and important topic to cover
                on.
            </p>

            <p class="article-text">
                In the discussion, the analogy of a library was given. It reminded me of our very own APC library.
                Indeed, the books in their bookshelves are not lazily placed. They are strategically placed and planned
                accordingly. I am surprised that this is a potent segue to the main topic. It worked really well, and I
                immediately saw the principle and importance of practicing information architecture concepts. Going
                deeper into the discussion, the way information could be organized is vast. The discussion reminded a
                lot of things; particularly my high school life. There were mentions of taxonomy which I did not realize
                is actual a concrete example of organization of biological names. In a sense, it denotes information
                architecture seamlessly. The discussion also reminded me of our high school research lessons. I remember
                being taught how to gather related literature (RL) for my previous researches. In hindsight, we have to
                be systematic in presenting our gathered RLs so it will be effective. Like a library, we do not simply
                throw the information in the research paper carelessly. I also believed to myself that there is an art
                to it. Going back, we were taught that we can organize them either chronologically, alphabetically or
                thematically. It is nice to see these organizing schemes being revisited in our information architecture
                discussion. A lot of things intertwine and connect. Everything is basically going full circle and I am
                glad to know about the surrounding body that is information architecture. Apart from what I already know
                in organizing information, I learned more about how to present and organize different types of
                information more effectively and systematically. The examples and their possible organization schemes
                really helped. And yes, as the discussion went on, we resumed to our roots of being inclined to user
                design. From a general idea to the specific application. Very nice. I am excited what comes next after
                this lesson. It seems like it is time to know more about the visual aspects.
            </p>
        </div>
        <!--//content-->
    </div>
    <!--//section-inner-->
</section>
{% endblock %}