{% extends 'base.html' %}

{% block secondary %}
{% include 'output-nav.html' %}
{% endblock %}

{% block primary %}
<section class="about section">
    <div class="section-inner shadow-sm rounded">
        <h2 class="heading"><a href="/"><i class="fas fa-chevron-left"></i></a>&nbsp;&nbsp;R5: Visual Information Design
        </h2>
        <div class="content">
            <p class="article-text">
                Visual and information design is a topic that I really wanted to uncover. Personally, I believe it is
                the topic that dives deep with design itself. I have always understood design as some field that
                concerns visually what we use. The phrase “looking good” always come to mind when I hear design. Up to
                this point in our USERDES class, I have learned and realized that design is more than looking good and
                having the aesthetics. It goes deep but again; it is nice to reach a full circle thus resume to the
                roots of my first impression about the word “design.”
            </p>

            <p class="article-text">
                It is nice to look back and discuss the invitation design activity. I am glad to hear some of my
                classmates’ thought process in designing their invitations. It is good to know that we all have a common
                set of ideas in tackling the activity. The discussion later on tackled the invitation design activity in
                more depth. I am fond in the idea of whitespace in terms of visual design. Adding whitespace between
                elements makes the design a whole lot better. A simple tweak like this blows me away because of how it
                “relaxes” our eyes when we view a particular design. Apart from that, the use of size contrasts was also
                discussed to create a sense of importance and hierarchy between elements. I was not actually aware that
                I was practicing this principle already. I just felt that it was concrete and necessary. It felt like it
                was natural and clearly the right thing to do. We usually regard the bigger stuff in front of us as the
                centerpiece of a design. That same regard could be applied in visual layouts definitely.
            </p>

            <p class="article-text">
                Guide, pace and message. These three goals for visual design were also highlighted. I appreciate this
                kind of way to convey what visual design would mostly entail. It is a nice way to give us a glimpse of
                what surrounds visual design. It does it effectively too. I like how message is one of the three goals.
                It really says a lot about the importance of a design being balanced. Style with substance, per say.
                Moving forward, the in-depth discussion about typography, layout and color was also nice. It gave me an
                idea how to utilize these three elements harmoniously and effectively. It is also nice to know that
                these three elements alone really form the backbone of visual design. Realize it, yes, they are indeed
                the framework. As discussion went on, the challenge icebreakers were also quite fun. It really tested
                our ability to interpret the message portrayed from various broken designs. Some missing designs can be
                quite obvious to depict while others are impossible to tell. We should really take the time to create
                concrete designs so that our users would not meet the same confusion.
            </p>
        </div>
        <!--//content-->
    </div>
    <!--//section-inner-->
</section>
{% endblock %}