{% extends 'base.html' %}

{% block secondary %}
{% include 'output-nav.html' %}
{% endblock %}

{% block primary %}
<section class="about section">
    <div class="section-inner shadow-sm rounded">
        <h2 class="heading"><a href="/"><i class="fas fa-chevron-left"></i></a>&nbsp;&nbsp;R6: Color Theory and
            Typography
        </h2>
        <div class="content">
            <p class="article-text">
                Color and theory and typography are two close topics to me. They al pertain to visuals. Whenever I think
                of visuals, I immediately get the idea of showing texts, images, shapes and colors. The elements that
                form what we see in our daily lives. Thankfully, I got to learn more about color theory and typography
                interactively with fun games in our USERDES class. Some were straightforward. Some were challenging and
                confusing. All in all, it was a fun experience to have played these fun and educational games. I got to
                learn more about colors and fonts in depth and greater detail.
            </p>

            <p class="article-text">
                The first game that I played was the Kern Type kerning game. It is about tweaking the perfect horizontal
                space between letters among different font styles. I had an intuition in attempting the game. I just
                went with my gut feeling. If it felt “right,” then it probably is right! Getting a perfect score of one
                hundred is oddly satisfying. I managed to achieve that after multiple tries. The game did teach me about
                how intricate font styles are. They are definitely well-thought of. The horizontal spacing that we
                usually overlook everyday in our screen fonts is something to think about. It gives me a window to
                appreciate all these kinds of things! The second game that I played was the Brandseen coloring game.
                This was the game I had so much confidence in playing. I know and recognize brand colors well. However,
                when I begun to play and guess the colors, it was a slight bit difficult to answer. Like for instance, I
                know that the Coca-Cola brand is color red. Yes, but which kind of red? I followed my intuition once
                again and for most of the time, I managed to get most brand colors accurate! Another mini achievement
                indeed! The third game was certainly the toughest among the typography games I played. It is the
                ever-so-daunting Better Web Type typography game! Honestly, the patterns were confusing, and I just
                followed my instincts yet again. Some time it worked and some time it did not work. My girlfriend and I
                remarked the game’s triangle as the “dreaded triangle.” It is occasionally hard to get a perfect score
                for each section! I learned more about the intricacies of font styles. They possess font size, line
                length and line height. It really shows that they are significantly two-dimensional. The last game that
                I played was the Type War typography game. I find it relaxing to play actually. It was more of a zen
                game. It was about guessing what font style a certain letter is. I was quite familiar with a number of
                fonts. The clue that I always had in mind was whether the displayed letter is in serif or sans serif.
                This clue is big enough to uncover the details for me.
            </p>

            <p class="article-text">
                I enjoyed playing all these fun color theory and typography games. I got the chance to learn these
                topics in an interactive and memorable way.
            </p>
        </div>
        <!--//content-->
    </div>
    <!--//section-inner-->
</section>
{% endblock %}