  <aside class="education aside section">
      <div class="section-inner shadow-sm rounded">
          <h2 class="heading">Activities</h2>
          <div class="content">
              <div class="item">
                  <h3 class="title"><a href="{% url 'web:a0' %}"><i class="fas fa-newspaper"></i> A0: Self
                          Introduction</a></h3>
                  <h4 class="university">August 22, 2020</h4>
                  </h4>
              </div>
              <!--//item-->

              <div class="item">
                  <h3 class="title"><a href="{% url 'web:a1' %}"><i class="fas fa-newspaper"></i> A1: My Favorite
                          Application</a></h3>
                  <h4 class="university">August 25, 2020</h4>
                  </h4>
              </div>
              <!--//item-->

              <div class="item">
                  <h3 class="title"><a href="{% url 'web:a2' %}"><i class="fas fa-newspaper"></i> A2: Personas</a>
                  </h3>
                  <h4 class="university">September 3, 2020</h4>
                  </h4>
              </div>
              <!--//item-->

              <div class="item">
                  <h3 class="title"><a href="{% url 'web:a3' %}"><i class="fas fa-newspaper"></i> A3: Prototype</a>
                  </h3>
                  <h4 class="university">October 1, 2020</h4>
                  </h4>
              </div>
              <!--//item-->

              <div class="item">
                  <h3 class="title"><a href="{% url 'web:a4' %}"><i class="fas fa-newspaper"></i> A4: Invitation
                          Design</a>
                  </h3>
                  <h4 class="university">October 16, 2020</h4>
                  </h4>
              </div>
              <!--//item-->

              <div class="item">
                  <h3 class="title"><a href="{% url 'web:a5' %}"><i class="fas fa-newspaper"></i> A5: Grid
                          Design</a>
                  </h3>
                  <h4 class="university">October 27, 2020</h4>
                  </h4>
              </div>
              <!--//item-->

          </div>
          <!--//content-->
      </div>
      <!--//section-inner-->
  </aside>
  <!--//section-->

  <aside class="education aside section">
      <div class="section-inner shadow-sm rounded">
          <h2 class="heading">Guide Questions</h2>
          <div class="content">

              <div class="item">
                  <h3 class="title"><a href="{% url 'web:g1' %}"><i class="fas fa-newspaper"></i> G1: What is User
                          Design?</a></h3>
                  <h4 class="university">August 25, 2020</h4>
                  </h4>
              </div>
              <!--//item-->

              <div class="item">
                  <h3 class="title"><a href="{% url 'web:g2' %}"><i class="fas fa-newspaper"></i> G2: What is Design
                          Thinking?</a></h3>
                  <h4 class="university">September 14, 2020</h4>
                  </h4>
              </div>
              <!--//item-->

              <div class="item">
                  <h3 class="title"><a href="{% url 'web:g3' %}"><i class="fas fa-newspaper"></i> G3: What is
                          Prototyping?</a></h3>
                  <h4 class="university">October 3, 2020</h4>
                  </h4>
              </div>
              <!--//item-->
          </div>
          <!--//content-->
      </div>
      <!--//section-inner-->
  </aside>
  <!--//section-->

  <aside class="education aside section">
      <div class="section-inner shadow-sm rounded">
          <h2 class="heading">Reflections</h2>
          <div class="content">

              <div class="item">
                  <h3 class="title"><a href="{% url 'web:r1' %}"><i class="fas fa-newspaper"></i> R1: My First Weeks
                          of USERDES Class</a></h3>
                  <h4 class="university">September 9, 2020</h4>
                  </h4>
              </div>
              <!--//item-->

              <div class="item">
                  <h3 class="title"><a href="{% url 'web:r2' %}"><i class="fas fa-newspaper"></i> R2: Introduction to
                          Design Thinking</a>
                      Process</h3>
                  <h4 class="university">October 4, 2020</h4>
                  </h4>
              </div>
              <!--//item-->

              <div class="item">
                  <h3 class="title"><a href="{% url 'web:r3' %}"><i class="fas fa-newspaper"></i> R3: Need Finding
                          (Design Problem)</a>
                  </h3>
                  <h4 class="university">October 5, 2020</h4>
                  </h4>
              </div>
              <!--//item-->

              <div class="item">
                  <h3 class="title"><a href="{% url 'web:r4' %}"><i class="fas fa-newspaper"></i> R4: Information
                          Architecture</a>
                  </h3>
                  <h4 class="university">October 17, 2020</h4>
                  </h4>
              </div>
              <!--//item-->


              <div class="item">
                  <h3 class="title"><a href="{% url 'web:r5' %}"><i class="fas fa-newspaper"></i> R5: Visual Information
                          Design</a>
                  </h3>
                  <h4 class="university">October 23, 2020</h4>
                  </h4>
              </div>
              <!--//item-->
          </div>
          <!--//content-->
      </div>
      <!--//section-inner-->
  </aside>
  <!--//section-->