.article-title {
    margin-bottom: 0.75em;
    line-height: 32px;
}

.article-text {
    line-height: 32px;
    margin-bottom: 2em;
}

.article-title-persona {
    margin-bottom: 0.25em;
    line-height: 32px;
}

.article-quote-persona {
    margin: 0;
    margin-bottom: 0.75em;
    font-style: italic;
}

.article-image-persona {
    float: right;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    border-radius: 8px;
    max-width: 200px;
}

.article-tuple-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.article-tuple-box {
    display: inline;
    align-items: center;
    justify-content: center;
    flex: 1 50%;
    min-width: 200px;
}

.references {
    margin-top: 5em;
}

@media (min-width:1px) {
    .article-image {
        width: 100%;
        height: auto;
        padding: 1em;
    }
}

@media (min-width:1025px) {
    .article-image {
        width: 90%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 1em;
    }
}

.article-image-caption {
    margin-bottom: 2em;
    text-align: center;
    color: gray;
    font-style: italic;
}