{% extends 'base.html' %}
{% load static %}

{% block secondary %}
{% include 'output-nav.html' %}
{% endblock %}

{% block primary %}
<section class="about section">
    <div class="section-inner shadow-sm rounded">
        <h2 class="heading"><a href="/"><i class="fas fa-chevron-left"></i></a>&nbsp;&nbsp;A2: Personas</h2>
        <div class="content">
            <!-- Amber -->
            <img class="article-image-persona" src="{% static 'images/personas/amber.jpg' %}" alt="Computer science">
            <h5 class="article-title-persona">Ambitious Amber</h5>
            <p class="article-quote-persona">“I have a cool app idea! I just need someone to code it.”</p>

            <h6 class="article-title">Biography</h6>
            <p class="article-text">
                Amber grew up in Palo Alto, California. A few years ago, she decided to move and live near the Silicon
                Valley: a booming epicenter of many successful high-technology companies such as Apple, Google and
                Facebook. It is always her dream to work on one of these companies. She is not that invested in
                developing apps, but she does use them a lot. Undoubtedly, she is a tech enthusiast herself! She loves
                using her favorite apps on her phone in her day-to-day life. She likes posting social media statuses
                every time. Before she eats a hearty meal, she takes a photo of it and posts it on Instagram. She always
                fears of missing out. Every second of her life is surely documented online. She is a person that you
                would always see online 24/7. Every now and then, she likes to keep in-touch with recent news from
                various tech companies. She is always excited for the next app that will hit the market. She is also
                wondering if her app ideas can see the light of day.
            </p>
            <h6 class="article-title">Demographics</h6>
            <ul>
                <li><b>Age</b>: 26</li>
                <li><strong>Location</strong>: Palo Alto, California</li>
                <li><strong>Education</strong>: Arts</li>
                <li><strong>Occupation</strong>: Self-employed</li>
            </ul>

            <h6 class="article-title">Traits</h6>
            <ul>
                <li>Jolly, extroverted, dense</li>
            </ul>

            <h6 class="article-title">Goals</h6>
            <ul>
                <li>To be able to make her app ideas come to life</li>
                <li>To be able to establish a business that is centered on delivering software products</li>
                <li>To see if her app ideas are now taken by browsing portfolio sites</li>
            </ul>

            <h6 class="article-title">Frustrations</h6>
            <ul>
                <li>Terrible with programming</li>
                <li>Unfamiliar with technical design of apps</li>
                <li>Too much time spent with her apps</li>
            </ul>

            <h6 class="article-title">Favorite Apps</h6>
            <ul>
                <li>Facebook, Twitter, Instagram, Uber, Cashapp and Snapchat</li>
            </ul>

            <hr>
            <!-- Bary -->
            <img class="article-image-persona" src="{% static 'images/personas/bary.jpg' %}" alt="Computer science">
            <h5 class="article-title-persona">Busy Bary</h5>
            <p class="article-quote-persona">“Time is money. No time to relax. Relaxation is a scam, people!”</p>

            <h6 class="article-title">Biography</h6>
            <p class="article-text">
                Bary is all about business. He is a territory channel manager on Microsoft. He is always busy and
                looking for ways to expand his company’s reach. Occasionally, he is always on the lookout for potential
                talent that could benefit his company. He enjoys hosting hackathons and participating as a judge among
                these competitions. Bary may be a serious guy, but he has a big heart for the youth. He likes to listen
                to startup ideas and from the youth. With this, he likes inspiring them . He believes that the youth are
                society’s hope and salvation. You can occasionally see him give calling cards to those that have
                impressed him. Or perhaps, you can see him answering a phone call while enjoying his lunch. Before going
                to sleep, he likes checking his stock trading app. He does not seem to relax. He is always busy after
                all.
            </p>
            <h6 class="article-title">Demographics</h6>
            <ul>
                <li><b>Age</b>: 42</li>
                <li><strong>Location</strong>: Redmond, Washington</li>
                <li><strong>Education</strong>: Business Relations</li>
                <li><strong>Occupation</strong>: Territory Channel Manager</li>
            </ul>

            <h6 class="article-title">Traits</h6>
            <ul>
                <li>Serious, business-minded, time-bound</li>
            </ul>

            <h6 class="article-title">Goals</h6>
            <ul>
                <li>To find talent that could benefit his company</li>
                <li>To seek potential startup ideas that he could invest in</li>
                <li>To search for impressive portfolios and candidates</li>
            </ul>

            <h6 class="article-title">Frustrations</h6>
            <ul>
                <li>Light colors and high contrast color schemes make him irritated</li>
                <li>Other portfolio sites are not effective enough in showcasing content and selling themselves</li>
                <li>Non-responsive design makes him repel the app completely</li>
            </ul>

            <h6 class="article-title">Favorite Apps</h6>
            <ul>
                <li>Outlook, TD Ameritrade, LinkedIn, Teams, OneNote, Skype, Word</li>
            </ul>

            <hr>
            <!-- Bary -->
            <img class="article-image-persona" src="{% static 'images/personas/tim.jpg' %}" alt="Computer science">
            <h5 class="article-title-persona">Tech Tim</h5>
            <p class="article-quote-persona">“Wow! I wonder what runs this website?”</p>

            <h6 class="article-title">Biography</h6>
            <p class="article-text">
                Tim likes to tinker with stuff. Tim is a web developer by profession. Currently, he is doing freelance
                work on Fiverr.com. He likes to scour the internet for project ideas. He likes looking for design
                inspiration from other websites and online portfolios. He likes building a portfolio of himself also. He
                is a well-known person in the technology field. He even has a Twitter account called @techtimtinkertips;
                where he gives technical advice and project showcases in what he is currently working on. He likes
                learning a lot and sharing what he knows. He is always the guy who likes giving free coupon codes of his
                Udemy courses online. Knowing this, he is a practitioner by heart as well. He produces educational
                online content about HTML, CSS and JavaScript development for beginners.
            </p>
            <h6 class="article-title">Demographics</h6>
            <ul>
                <li><b>Age</b>: 37</li>
                <li><strong>Location</strong>: Springfield, Massachusetts</li>
                <li><strong>Education</strong>: Information Technology</li>
                <li><strong>Occupation</strong>: Web Developer</li>
            </ul>

            <h6 class="article-title">Traits</h6>
            <ul>
                <li>Curious, enthusiastic, tech savvy</li>
            </ul>

            <h6 class="article-title">Goals</h6>
            <ul>
                <li>To seek project ideas that he could build and challenge himself with</li>
                <li>To find inspiration in how to layout and improve his own portfolio</li>
                <li>To potentially collaborate with fellow developers online</li>
            </ul>

            <h6 class="article-title">Frustrations</h6>
            <ul>
                <li>Projects showcased in portfolio sites do not reveal much information to satisfy his curiosity</li>
                <li>Slow loading times make him impatient</li>
                <li>He occasionally cannot contact developers from their portfolio sites</li>
            </ul>

            <h6 class="article-title">Favorite Apps</h6>
            <ul>
                <li>Twitter, GitHub, Heroku, Digital Ocean, AWS, Udemy</li>
            </ul>
        </div>
        <!--//content-->
    </div>
    <!--//section-inner-->
</section>
{% endblock %}