{% extends 'base.html' %}
{% load static %}

{% block secondary %}
{% include 'output-nav.html' %}
{% endblock %}

{% block primary %}
<section class="about section">
    <div class="section-inner shadow-sm rounded">
        <h2 class="heading"><a href="/"><i class="fas fa-chevron-left"></i></a>&nbsp;&nbsp;A3: Prototype</h2>
        <div class="content">
            <p class="article-text">
                This is the low fidelity prototype of this personal portfolio!
            </p>
            <h5 class="article-title">Main Page Layout</h5>
            <img class="article-image" src="{% static 'images/prototype/p1.jpg' %}" alt="Main page">
            <p class="article-image-caption">The main page prototype</p>

            <h5 class="article-title">Activity Pages Layout</h5>
            <img class="article-image" src="{% static 'images/prototype/p2.jpg' %}" alt="Main page">
            <p class="article-image-caption">The activity page prototype</p>

        </div>
        <!--//content-->
    </div>
    <!--//section-inner-->
</section>
{% endblock %}