{% extends 'base.html' %}
{% load static %}

{% block secondary %}
{% include 'output-nav.html' %}
{% endblock %}

{% block primary %}
<section class="about section">
    <div class="section-inner shadow-sm rounded">
        <h2 class="heading"><a href="/"><i class="fas fa-chevron-left"></i></a>&nbsp;&nbsp;A4: Invitation Design</h2>
        <div class="content">
            <h5 class="article-title">Prior Design</h5>
            <img class="article-image" src="{% static 'images/invitation/prior.png' %}" alt="Prior image">
            <p class="article-image-caption">The prior design that needs improvement</p>

            <h6 class="article-title">1. How can we improve this?</h6>
            <p class="article-text">
                The design looks very plain as it is just a slew of words in one paragraph. The information could be
                separated for better readability. It can also be made visually appealing through the use of images and
                colors.
            </p>

            <h6 class="article-title">2. What would be the objective function?</h6>
            <p class="article-text">
                The passage is about inviting the reader to Robert and Alexandra’s after-dinner party. The objective of
                it is to inform the reader about when and where the event will take place. It also intends to invoke a
                call to action for the reader if he or she will be attending.
            </p>

            <img class="article-image" src="{% static 'images/invitation/after.jpg' %}" alt="Prior image">
            <p class="article-image-caption">My improvement on the prior design</p>
        </div>
        <!--//content-->
    </div>
    <!--//section-inner-->
</section>
{% endblock %}